body {
  background-color: darkseagreen;
  }
header {
  background-color: darkolivegreen;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 5px;
}
footer {
  background-color: darkolivegreen;
  border: 2px solid black;
  border-radius: 5px;
}
p {
  color: white;
  font-style: italic;
}
img {
  border: 5px solid;
  border-color: darkolivegreen;
  border-radius: 5px;
}
ul {
  font-family: sans-serif;
}
figcaption {
  color: darkolivegreen;
}
/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
